{% extends 'layouts/base.html' %}

    {% block title %} Blog {% endblock %}

    {% block content %}

    <h1>Blog ({{posts|length}} posts) </h1>

    {% for post in posts %}
        <article>
            <h2><a href="{% url 'blog:show' post.id %}">#{{post.id}} - {{post.title}}</a></h2>
            <p>{{post.body|truncatewords:3}}</p>

            <p><a href="{% url 'blog:show' post.id %}">Lire la suite</a></p>
        </article>

        {% if not forloop.last %}
        <hr>
        {% endif %}

    {% empty %}
    <p>Sorry, no posts available.</p>

    {% endfor %}

{% endblock %}
